
<div class="p-3 bg-gray-100 min-h-screen">
  <p class="text-3xl text-center font-semibold font-sans text-gray-700">Admin Panel</p>
  <hr>
  <div class="flex justify-between items-center mb-6">
    
    <button
      (click)="logout()"
      class="px-4 py-2 mt-2 bg-teal-600 text-white font-semibold rounded-md hover:bg-red-700 transition duration-200"
    >
      Logout
    </button>
  </div>

  <div class="overflow-x-auto w-full bg-white shadow-lg rounded-lg border border-gray-200">
    <table class="table-auto min-w-full">
      <thead>
        <tr class="bg-gray-300 text-gray-700 uppercase text-sm leading-normal">
          <th class="py-3 px-6 text-left">Name</th>
          <th class="py-3 px-6 text-left">Phone</th>
          <th class="py-3 px-6 text-left">Category</th>
          <th class="py-3 px-6 text-left">Date</th>
        </tr>
      </thead>
      <tbody class="text-gray-600 text-sm">
        <!-- Loop through customers -->
         @for (customer of customers; track $index) {
          <tr
          class="border-b border-gray-200 hover:bg-gray-100"
        >
          <td class="py-3 px-6 text-left">{{ customer.name }}</td>
          <td class="py-3 px-6 text-left">{{ customer.phone }}</td>
          <td class="py-3 px-6 text-left">{{ customer.category }}</td>
          <td class="py-3 px-6 text-left">{{ customer.formattedDate }}</td>
        </tr>
         }
       

        <!-- No data available -->
         @if (customers.length === 0) {
          <tr>
            <td colspan="4" class="py-4 text-center text-gray-500">
              No data available.
            </td>
          </tr>
         }
      </tbody>
    </table>
  </div>
</div>

